# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:


for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
data['days_employed_mean'] = data['days_employed']

for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children                 0
days_employed            0
dob_years                0
education                0
education_id             0
family_status            0
family_status_id         0
gender                   0
income_type              0
debt                     0
total_income             0
purpose                  0
days_employed_mean    2162
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Исследование зависимости между количеством детей у заёмщика и возвратом кредита в срок

#print(data.groupby('children')['debt'].mean()*100)

aggfunc = pd.DataFrame(columns = ['Всего заёмщиков', 'Всего должников', 'Доля должников, %'])

aggfunc['Всего заёмщиков'] = data.groupby('children')['debt'].count()
aggfunc['Всего должников'] = data.groupby('children')['debt'].sum()
aggfunc['Доля должников, %'] = data.groupby('children')['debt'].mean()*100

print(aggfunc)

          Всего заёмщиков  Всего должников  Доля должников, %
children
0                   14091             1063           7.543822
1                    4808              444           9.234609
2                    2052              194           9.454191
3                     330               27           8.181818
4                      41                4           9.756098
5                       9                0           0.000000

In [27]:
# Создаем копию датасета, что бы не работать с исходным
temp = data.copy()
# Напишем функцию, так как все задачи аналогичны
def que(category):
    data_temp = temp.pivot_table(index=category, values='debt', aggfunc=['count', 'sum', 'mean'])
    data_temp.columns = ['Всего кредитополучателей', 'Всего должников', 'Доля должников']
    # Оформим таблицу цветным градиентом, но можно ее вывести и просто display(data_temp)
    display(data_temp.style.format("{:.3f}").background_gradient(cmap='Blues', axis=0))
    
que('children')

**Вывод: есть заметная разница по количеству должников при отсуствием детей у заёмщика и при их наличии. Разница между этими значениями составляет более 22%**

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
# Исследование зависимости между семейным положением у заёмщика и возвратом кредита в срок

#print(data.groupby('family_status')['debt'].mean()*100)

aggfunc = pd.DataFrame(columns = ['Всего заёмщиков', 'Всего должников', 'Доля должников, %'])

aggfunc['Всего заёмщиков'] = data.groupby('family_status')['debt'].count()
aggfunc['Всего должников'] = data.groupby('family_status')['debt'].sum()
aggfunc['Доля должников, %'] = data.groupby('family_status')['debt'].mean()*100

print(aggfunc.sort_values(by = 'Всего заёмщиков', ascending = False))

                       Всего заёмщиков  Всего должников  Доля должников, %
family_status
женат / замужем                  12261              927           7.560558
гражданский брак                  4134              385           9.313014
Не женат / не замужем             2796              273           9.763948
в разводе                         1189               84           7.064760
вдовец / вдова                     951               63           6.624606

**Вывод: реже возвращают кредит в срок заёмщики не состоявшие в браке, также находящиеся в гражданском браке. Чаще всего возвращают кредит а срок вдовцы/вдовы**

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
# Исследование зависимости между уровнем дохода у заёмщика и возвратом кредита в срок

#print(data.groupby('total_income_category')['debt'].mean()*100)

aggfunc = pd.DataFrame(columns = ['Всего заёмщиков', 'Всего должников', 'Доля должников, %'])

aggfunc['Всего заёмщиков'] = data.groupby('total_income_category')['debt'].count()
aggfunc['Всего должников'] = data.groupby('total_income_category')['debt'].sum()
aggfunc['Доля должников, %'] = data.groupby('total_income_category')['debt'].mean()*100

print(aggfunc.sort_values(by = 'Всего заёмщиков', ascending = False))

                       Всего заёмщиков  Всего должников  Доля должников, %
total_income_category
C                                15921             1353           8.498210
B                                 5014              354           7.060231
D                                  349               21           6.017192
A                                   25                2           8.000000
E                                   22                2           9.090909

**Вывод: меньше всего заёмщиков из крайних категорий по доходам 'A' и 'E' их суммарная доля от общего количества заёмщиков равна 0,2%. С учётом этих долей максимальное количество должников из категории 'E' и разница между крайними значениями равна 34%. Без учёта категорий 'A' и 'E', максимальное количество должников из категории 'C' и разница между крайними значениями равна 30%.
Возмножно, уровень дохода категории 'E' не позволяют обслуживать кредит, а уровень дохода категории 'A' позволяет обходится без заёмных средств**

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
# Исследование зависимости между целью кредита у заёмщика и возвратом кредита в срок

#print(data.groupby('purpose_category')['debt'].mean()*100)

aggfunc = pd.DataFrame(columns = ['Всего заёмщиков', 'Всего должников', 'Доля должников, %'])

aggfunc['Всего заёмщиков'] = data.groupby('purpose_category')['debt'].count()
aggfunc['Всего должников'] = data.groupby('purpose_category')['debt'].sum()
aggfunc['Доля должников, %'] = data.groupby('purpose_category')['debt'].mean()*100

print(aggfunc.sort_values(by = 'Всего заёмщиков', ascending = False))

                          Всего заёмщиков  Всего должников  Доля должников, %
purpose_category
операции с недвижимостью            10751              780           7.255139
операции с автомобилем               4279              400           9.347978
получение образования                3988              369           9.252758
проведение свадьбы                   2313              183           7.911803

**Вывод: заёмщики с целями кредита на операции с автомобилем и получение образования реже возвращают кредит в срок**

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ: пропуски в данном датасете являются случайными в количественных данных, вероятные причины: отсутсвие кредитной истории, неправильное заполнение формы или техический сбой*

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ: в данном желательно заполнять пропуски медианныи значнием, чтобы избежать искажений из-за большого разброса в размере чисел в количественных переменных*

In [26]:

for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed_mean'].isna()), 'days_employed_mean'] = \
    data.loc[(data['income_type'] == t), 'days_employed_mean'].mean()

employed_mean = data.groupby('income_type')['days_employed_mean'].sum().astype('int')
employed_median = data.groupby('income_type')['days_employed'].sum().astype('int')
    
#print(employed_mean)
#print(employed_median)
print('Соотношение медианных значений к средним:')
print(employed_median/employed_mean)

Соотношение медианных значений к средним:
income_type
безработный        1.000000
в декрете          1.000000
госслужащий        0.979169
компаньон          0.973859
пенсионер          1.000072
предприниматель    1.000000
сотрудник          0.968708
студент            1.000000
dtype: float64

**В данном случаем сумма средних значений в большинстве случаев на 2% - 3% больше медианных.

In [36]:
# Комментарий ревьюера 2
a, b, = data.days_employed.mean(), data.days_employed.median()
print('Среднее', a)
print('Медиана', b)
print('Во сколько раз среднее превышает медиану', round(a/b))

Среднее 67148.97213258488
Медиана 1996.732855437927
Во сколько раз среднее превышает медиану 34

### Шаг 4: общий вывод.

*Заказачик проекта - кредитный отдел банка.

Проект представляет из себя исследование надёжности заёмщиковы зависимости от семейного положения и наличи детей.
На вход мы получили данные статистики по платёжеспособности клиентов.

Данные сгруппированы по колонкам:
children — количество детей в семье
days_employed — общий трудовой стаж в днях
dob_years — возраст клиента в годах
education — уровень образования клиента
education_id — идентификатор уровня образования
family_status — семейное положение
family_status_id — идентификатор семейного положения
gender — пол клиента
income_type — тип занятости
debt — имел ли задолженность по возврату кредитов
total_income — ежемесячный доход
purpose — цель получения кредита

Во время предобрабоки были обнаружены пропуски в данных days_employed и total_income, которые были заменны медианными значениями для своей категории. 

Далее были обнаружены аномальные значения в данных по days_employed и children. days_employed нам для исследования не нужны и значения оставлены, в данных children аномальные значения обработаны.

Удалены найденнные дубликаты.

После чего провели категоризацию данных.
Были созданы столбецы total_income_category с разделеним по доходу:
- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

и purpose_category с разделением по цели кредита:
- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

После подготовки данных провели исследования по зависимости надёжности заёмщика в зависимости от разлчных условий.

Выяснили что наиболее надёжные заёмщики это люди состоящие в браке в настоящее время, либо состоявщие в браке в прошлом. С доходом от 200 000. Взявшие кредит с целью проведения свадьбы(вероятно второй брак) или операций с недвижимостью, не имеющие детей.

Наименее надёжые заёмщики это люди на состоящие в браке и не состоявшие в браке в прошлом. С доходом от 50 000 до 200 000. Взявшие кредит с целью покупи автомобиля или получения образования, имеющие детей.
*